* {
    margin: 0;
    padding: 0;
    max-width: 850px;
    
}

header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    


}

.nav-bar ul {
    display: flex;
    gap: 2em;
    list-style: none;
}

input[type="text"],
textarea {
    padding: 5px;
    border: 1px solid #696868;
    border-radius: 10px;
}

.search-btn {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #117bf5;
    color: white;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    gap: 30px;
    height: 300px;
}
.grid1{
    display: grid;
   grid-template-columns: 1fr;
}
.box1{
    /* display: flex;
    flex-direction: column; */
    border:1px solid;
    border-radius: 10px;
    padding: 15px;
    
    
}
.btn1{
}
.btn1 button {
    width:100%;
    background-color: #cc5050;
   
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px;
}
.box2{
    border:1px solid;
    border-radius: 10px;
    background-color: #0b81f0;;


}
.grida{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:30px;
    gap: 30px;

}
.ram{
    border:1px solid;
    border-radius: 10px;
    height: 150px;
    background-color: #0b81f0;
}
.gridb{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:30px;
    gap: 30px;
}
.ramg{
    border:1px solid;
    border-radius: 10px;
    height: 250px;
    background-color: #0b81f0;
}
table{
    width: 100%;
    margin-bottom: 30px;
}
footer{
    margin:30px
}